{% extends 'Admin/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/Admin/dashboard.css' %}">
{% endblock %}

{% block content %}
<h2>Welcome, Admin</h2>

<div class="cards">
    <div class="card orange">Total Employees<br><strong>2</strong></div>
    <div class="card purple">On Leave Today<br><strong>0</strong></div>
    <div class="card teal">Total Departments<br><strong>6</strong></div>
    <div class="card blue">Pending Approvals<br><strong>0</strong></div>
</div>

<script src="{% static 'js/Admin/dashboard.js' %}"></script>
{% endblock %}