{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}">

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
<div class="login-page">
    <div class="login-box">

<h2> Verify and Update Password</h2>
<form method="post" id="forgotForm" novalidate>
    {% csrf_token %}
    <input type="text" name="otp" placeholder="Enter OTP" id="emp_id" required>
    <input type="password" name="new_password" placeholder="New Password" id="emp_id" required>
    <input type="password" name="con_pwd" placeholder="Confirm Password" id="email" required>
    <button type="submit">Reset Password</button>

    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
    {% if success %}<p style="color:green">{{ success }}</p>{% endif %}
<p id="errorMsg"></p>
</form>
</div>
</div>
</body>
</html>
<script src="{% static 'js/Verify_otp.js' %}"></script>
{% endblock %}

<!-- </form> -->
